<h1>Bugs to Developers</h1>
<p>The following links can be used to a) report and view bugs, c) create and view developers, and c) create and view the relations between bugs and developers.</p>  
<p></p> 
<p> a) <%= link_to 'Report or view bugs', controller: 'bugs' %></p>
<p> b) <%= link_to 'Change or view developers', controller: 'devs' %></p>
<p> c) <%= link_to 'Create and view bug assignments', controller: 'assignments' %></p>
